# The DID to be served at /.well-known/atproto-did
SAME_TLD_DID=(optional)

# Error tracing
SENTRY_DSN=...

# Web Push public VAPID key. Must match the AppView's VAPID_PUBLIC_KEY
PUBLIC_VAPID_KEY=
