---
import PublicLayout from "@/layouts/PublicLayout.astro";
import { render } from "astro:content";
import { getEntry } from "astro:content";

const data = await getEntry("documents", "faq")!;

const { Content } = await render(data);
---

<PublicLayout>
	<section
		class="py-40 mx-auto w-full max-w-336 md:px-16 px-6 relative flex flex-col items-center gap-12"
	>
		<div class="flex flex-col gap-4 items-center text-center max-w-[65ch]">
			<small class="text-primary text-sm">
				{data.data.eyebrow}
			</small>
			<h1 class="text-5xl font-black m-0">{data.data.title}</h1>
			<p class="m-0 text-muted-foreground">
				{data.data.description}
			</p>
		</div>
		<div
			class="mx-8 mb-0 w-full border-none h-px bg-border relative max-w-[65ch]"
		>
		</div>
		<div class="w-full prose prose-neutral dark:prose-invert max-w-[65ch]">
			<Content />
		</div>
	</section>
</PublicLayout>
<style is:global>
	h2:first-of-type {
		margin-top: 0;
	}
</style>
