---
import PublicLayout from "@/layouts/PublicLayout.astro";
---

<PublicLayout>
	<section class="py-40 px-64 relative flex flex-col items-center gap-8">
		<div class="flex flex-col gap-4 items-center text-center glow">
			<small class="text-primary text-sm">
				Questions? We've got answers.
			</small>
			<h1 class="text-5xl font-black m-0">Frequently Asked Questions</h1>
			<p class="m-0 text-muted-foreground">
				Unsure about anything? You're in the right place, you'll probably find
				an answer here.
			</p>
		</div>
		<div
			class="mx-8 mb-0 w-full border-none h-px bg-border relative before:w-full before:top-0 before:absolute before:h-px before:bg-[linear-gradient(to_right,transparent_5%,var(--primary)_50%,transparent_95%)] prose prose-neutral dark:prose-invert"
		>
		</div>
		<h2>TODO</h2>
	</section>
</PublicLayout>
<style is:global>
	h2:first-of-type {
		margin-top: 0;
	}
</style>
