---
import Button from '@/components/bearnie/button/Button.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const user = await Astro.session?.get('user');
---
<BaseLayout>
	<main class="flex justify-center items-center w-screen h-screen flex-col">
		<h1>Colibri</h1>
		{!user && (
			<span>Not logged in!</span>
			<Button href='/auth/login' class="mt-4">
				Login with Atmosphere account
			</Button>
		)}
		{user && (
			<code>
				<pre>
					{JSON.stringify(user, null, 2)}
				</pre>
			</code>
			<Button href='/logout' variant='destructive' class="mt-4">
				Log out
			</Button>
		)}
	</main>
</BaseLayout>
