---
import { actions } from "astro:actions";
import { Image } from "astro:assets";
import { Agent } from "@atproto/api";
import Logo from "@/assets/logo.png";
import Button from "@/components/bearnie/button/Button.astro";
import Input from "@/components/bearnie/input/Input.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { client } from "@/utils/atproto/oauth";
import { ColibriSDK, type CommunityData } from "@/utils/sdk";

const user = await Astro.session?.get("user");

// TODO: This doesn't account for communities the user doesn't own yet
let communities: Array<CommunityData> = [];

if (user) {
	try {
		const oauthSession = await client.restore(user.sub!);
		const agent = new Agent(oauthSession);
		const sdk = new ColibriSDK(agent);

		const data = await sdk.getCommunities(agent.did!);

		communities = data;
	} catch (e) {
		console.error(e);
		return Astro.redirect("/auth/logout");
	}
}

const result = Astro.getActionResult(actions.login);
console.log(result);
if (result && !result.error) {
	return Astro.redirect(result.data);
}
---
<BaseLayout>
	<main class="flex justify-center items-center w-screen h-screen flex-col">
		<Image src={Logo} width={256} height={256} alt="A minimalist-looking Colibri, the logo of colibri.social." />
		<h1>Colibri</h1>
		{!user && (
			<span>Not logged in!</span>
			<form method="post" class="flex gap-2 w-full max-w-lg mt-4" action={actions.login}>
				<Input type="text" placeholder="alice.bsky.social" id="handle" name="handle" />
				<Button id='login-btn' type={"submit"}>
					Login with Atmosphere account
				</Button>
			</form>
		)}
		{user && (
			<div class="flex flex-col gap-2 items-center justify-center">
				{communities.map((community) => (
					<a href={`/community/${community.rkey}`}>{community.name}</a>
				))}
			</div>
			<div class="flex gap-2 w-full max-w-lg mt-4 items-center justify-center">
				<Button href='/app'>
					Go to app
				</Button>
				<Button href='/auth/logout' variant='destructive'>
					Log out
				</Button>
			</div>
		)}
	</main>
</BaseLayout>
