---
import Button from '@/components/bearnie/button/Button.astro';
import Input from '@/components/bearnie/input/Input.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Logo from '@/assets/logo.png';
import { Image } from 'astro:assets';

const user = await Astro.session?.get('user');
---
<BaseLayout>
	<main class="flex justify-center items-center w-screen h-screen flex-col">
		<Image src={Logo} width={256} height={256} alt="A minimalist-looking Colibri, the logo of colibri.social." />
		<h1>Colibri</h1>
		{!user && (
			<span>Not logged in!</span>
			<div class="flex gap-2 w-full max-w-lg mt-4">
				<Input type="text" placeholder="alice.bsky.social" id="handle-input" />
				<Button href='/auth/login' id='login-btn'>
					Login with Atmosphere account
				</Button>
			</div>
			<script>
				const handleInput = document.querySelector<HTMLInputElement>("#handle-input")!;
				const loginLinkBtn = document.querySelector<HTMLAnchorElement>("#login-btn")!;

				const authLink = '/auth/login';

				handleInput.addEventListener("input", () => {
					loginLinkBtn.href = authLink + `?handle=${handleInput.value}`;
				});

				loginLinkBtn.addEventListener("click", (e) => {
					if (handleInput.value.trim().length === 0) {
						e.preventDefault();
						alert("Please input your handle");
					}
				});
			</script>
		)}
		{user && (
			<code>
				<pre>
					{JSON.stringify(user, null, 2)}
				</pre>
			</code>
			<Button href='/auth/logout' variant='destructive' class="mt-4">
				Log out
			</Button>
		)}
	</main>
</BaseLayout>
