---
import { actions } from "astro:actions";
import Button from "@/components/bearnie/button/Button.astro";
import Input from "@/components/bearnie/input/Input.astro";
import BlueskyLogo from "@/components/icons/bluesky.svg";
import ATmosphereAppMarquee from "@/components/public/ATmosphereAppMarquee.astro";
import { Spinner } from "@/components/solid/icons/Spinner";
import PublicLayout from "@/layouts/PublicLayout.astro";

const user = await Astro.session?.get("user");

if (user) {
	return Astro.redirect("/app");
}

const result = Astro.getActionResult(actions.login);
if (result && !result.error) {
	return Astro.redirect(result.data);
}
---

<PublicLayout
	title="Sign In"
	description="Log in through Bluesky account or your Atmosphere account to continue."
	image="/og.png"
>
	<section
		class="py-40 mx-auto w-full max-w-336 md:px-16 px-6 relative flex flex-col items-center gap-12"
	>
		<div class="flex flex-col gap-4 items-center text-center">
			<small class="text-primary text-sm">Welcome back.</small>
			<h1 class="text-5xl font-black m-0">SIGN IN</h1>
			<p class="m-0 text-muted-foreground">
				Log in with your ATmostphere acccount (e.g. Bluesky) to continue.
			</p>
		</div>
		<div
			class="flex flex-col bg-card w-full max-w-xl rounded-2xl border border-border h-fit relative items-center drop-shadow-black/25 drop-shadow-2xl overflow-hidden"
		>
			<div class="flex flex-row gap-4 w-full items-center justify-center">
				<ATmosphereAppMarquee />
			</div>
			<div class="relative w-full mt-4">
				<hr class="bg-border w-full h-px border-none m-0" />
				<small
					class="text-muted-foreground bg-card absolute top-1/2 left-1/2 transform -translate-1/2 px-2"
				>
					ENTER YOUR HANDLE
				</small>
			</div>
			<form
				method="post"
				class="flex flex-col gap-4 w-full p-6 pb-3 items-center justify-center"
				id="login-form"
			>
				<div class="flex gap-2 w-full">
					<Input
						type="text"
						placeholder="alice.bsky.social"
						id="handle"
						name="handle"
					/>
					<Button
						id="login-btn"
						class="aria-busy:[&_svg]:flex! aria-busy:[&>span]:hidden"
						type={"submit"}
						aria-busy="true"
					>
						<Spinner client:load className="hidden" />
						<span>Login</span>
					</Button>
				</div>
			</form>
			<div class="relative w-full mt-4">
				<hr class="bg-border w-full h-px border-none m-0" />
				<small
					class="text-muted-foreground bg-card absolute top-1/2 left-1/2 transform -translate-1/2 px-2"
				>
					DON'T HAVE AN ACCOUNT?
				</small>
			</div>
			<span class="text-sm text-muted-foreground text-center p-6">
				Send us an e-mail: <a
					class="text-muted-foreground hover:underline decoration-muted-foreground"
					href="mailto:pds@colibri.social">pds@colibri.social</a
				>!
			</span>
		</div>
		<div
			class="flex flex-row items-center justify-center text-muted-foreground w-full max-w-xl gap-4 text-sm"
		>
			<span>Open source</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>EU-based</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>Powered by AT Protocol</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>100% Free</span>
		</div>
	</section>
</PublicLayout>
<script>
	import { getClient } from "@/utils/atproto/auth";

	const loginButton = document.getElementById("login-btn")!;

	const doLogin = async (handle: string) => {
		const res = await getClient();

		if (!res) {
			console.error("Unable to get client");
			return;
		}

		loginButton.setAttribute("aria-busy", "true");

		try {
			await res.client.signIn(handle, {
				signal: new AbortController().signal,
			});
		} catch (err) {
			console.error(err);
			// TODO: Toast an error
		}
		loginButton.removeAttribute("aria-busy");
	};

	const init = async () => {
		const res = await getClient();

		if (res?.loggedIn) {
			window.location.href = "/app";
			return;
		}

		const loginForm = document.getElementById("login-form")!;

		loginForm.addEventListener("submit", (e) => {
			e.preventDefault();
			doLogin((e.target as HTMLFormElement).handle!.value);
		});
	};

	loginButton.setAttribute("aria-busy", "false");

	init();
</script>
