---
import { actions } from "astro:actions";
import Button from "@/components/bearnie/button/Button.astro";
import Input from "@/components/bearnie/input/Input.astro";
import BlueskyLogo from "@/components/icons/bluesky.svg";
import PublicLayout from "@/layouts/PublicLayout.astro";

const user = await Astro.session?.get("user");

if (user) {
	return Astro.redirect("/app");
}

const result = Astro.getActionResult(actions.login);
if (result && !result.error) {
	return Astro.redirect(result.data);
}
---

<PublicLayout
	title="Sign In"
	description="Log in through Bluesky account or your Atmosphere account to continue."
	image="/og.png"
>
	<section
		class="py-40 mx-auto w-full max-w-336 md:px-16 px-6 relative flex flex-col items-center gap-12"
	>
		<div class="flex flex-col gap-4 items-center text-center">
			<small class="text-primary text-sm">Welcome back.</small>
			<h1 class="text-5xl font-black m-0">SIGN IN</h1>
			<p class="m-0 text-muted-foreground">
				Log in with your ATmostphere acccount (e.g. Bluesky) to continue.
			</p>
		</div>
		<div
			class="flex flex-col bg-card w-full max-w-xl rounded-2xl border border-border h-fit relative items-center drop-shadow-black/25 drop-shadow-2xl"
		>
			{
				/*<form
				method="post"
				class="flex gap-2 w-full p-6 items-center justify-center"
				action={actions.login}
			>
				<Input
					type="text"
					value="__colibri__"
					id="handle"
					name="handle"
					class="hidden"
				/>
				<Button
					id="login-btn"
					type="submit"
					class="w-full bg-primary/15 hover:bg-primary/25"
					variant="secondary"
				>
					<img
						src="/logo.png"
						alt="Colibri's Logo, a hummingbird."
						width="24"
						height="24"
					/>
					Login with Colibri
				</Button>
			</form>
			<div class="relative w-full">
				<hr class="bg-border w-full h-px border-none m-0" />
				<small
					class="text-muted-foreground bg-card absolute top-1/2 left-1/2 transform -translate-1/2 px-2"
				>
					OR USE BLUESKY
				</small>
			</div> */
			}
			<form
				method="post"
				class="flex gap-2 w-full p-6 items-center justify-center"
				action={actions.login}
			>
				<Input
					type="text"
					value="__bluesky__"
					id="handle"
					name="handle"
					class="hidden"
				/>
				<Button
					id="login-btn"
					type={"submit"}
					class="w-full bg-[#1185fe]/15 hover:bg-[#1185fe]/25"
					variant="secondary"
				>
					<BlueskyLogo slot="left-icon" />
					Login with Bluesky
				</Button>
			</form>
			<div class="relative w-full">
				<hr class="bg-border w-full h-px border-none m-0" />
				<small
					class="text-muted-foreground bg-card absolute top-1/2 left-1/2 transform -translate-1/2 px-2"
				>
					OR USE YOUR HANDLE
				</small>
			</div>
			<form
				method="post"
				class="flex flex-col gap-4 w-full p-6 items-center justify-center"
				action={actions.login}
			>
				<div class="flex gap-2 w-full">
					<Input
						type="text"
						placeholder="alice.bsky.social"
						id="handle"
						name="handle"
					/>
					<Button id="login-btn" type={"submit"}>
						Login with Atmosphere
					</Button>
				</div>
			</form>
			<form
				method="post"
				class="flex flex-col items-center justify-center relative bottom-3 pb-3"
				action={actions.login}
			>
				<Input
					type="text"
					value="__colibri__"
					id="handle"
					name="handle"
					class="hidden"
				/>
				<Input
					type="text"
					value="true"
					id="signUp"
					name="signUp"
					class="hidden"
				/>
				<Button variant="link" type={"submit"} class="text-muted-foreground">
					New to the ATmosphere (and have an invite code from us)? Sign up here!
				</Button>
				<span class="text-sm text-muted-foreground"
					>Want to create an account with us? Send us an e-mail: <a
						class="text-muted-foreground hover:underline decoration-muted-foreground"
						href="mailto:pds@colibri.social">pds@colibri.social</a
					>!</span
				>
			</form>
		</div>
		<div
			class="flex flex-row items-center justify-center text-muted-foreground w-full max-w-xl gap-4 text-sm"
		>
			<span>Open source</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>EU-based</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>Powered by AT Protocol</span>
			<span class="w-1 h-1 rounded-full bg-muted-foreground"></span>
			<span>100% Free</span>
		</div>
	</section>
</PublicLayout>
