---
import { Font } from "astro:assets";
import Toaster from "@/components/bearnie/toast/Toaster.astro";
import Footer from "@/components/public/Footer.astro";
import Navbar from "@/components/public/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	home?: boolean;
}
---

<BaseLayout {...Astro.props}>
	<Fragment slot="head">
		<Font cssVariable="--font-stardom" preload />
		<script
			src="https://rybbit.lou.gg/api/script.js"
			data-site-id="9bdae4920f8b"
			defer
			is:inline></script>
	</Fragment>
	<Navbar />
	<main id="main" class="min-h-screen overflow-x-hidden z-20 relative">
		<slot />
	</main>
	<Footer />
	<Toaster />
</BaseLayout>
