---
import { Agent } from "@atproto/api";
import Button from "@/components/bearnie/button/Button.astro";
import Input from "@/components/bearnie/input/Input.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { client } from "@/utils/atproto/oauth";
import { ColibriSDK } from "@/utils/sdk";

const { community, category, channel } = Astro.params;

if (!community || !category || !channel) {
	return Astro.redirect("/");
}

const user = (await Astro.session!.get("user"))!;
const oauthSession = await client.restore(user.sub!);
const agent = new Agent(oauthSession);
const sdk = new ColibriSDK(agent);

const channelData = await sdk.getChannelData(agent.did!, channel);
const messages = await sdk.getMessagesForChannel(agent.did!, channel);
console.log(messages);
---

<BaseLayout>
	<span>{JSON.stringify(channelData)}</span>
	<div class="flex flex-col gap-2 items-center justify-center">
		{
			messages.map((message, i) => (
				<div>
					{message.text} ({message.createdAt})
				</div>
			))
		}
	</div>
	<div class="flex gap-2 w-full max-w-lg mt-4">
		<Input
			data-obj={JSON.stringify({ category, community, channel })}
			type="text"
			placeholder="Send a message in this channel!"
			id="message-input"
		/>
		<Button
			id="send-btn"
			href={`/`}
			onclick="alert('Moved to actions! Re-implement in solid please :D')"
		>
			Send
		</Button>
	</div>
</BaseLayout>
